@{
    ViewData["Title"] = "Change Password";
}

@model SessionLoginWithAuthorizationUsingAspNetCore.Models.InputModel
<html>
<head>

    <link rel="stylesheet" href="~/css/Style.css" />
</head>

<body>
    <h3> Change Password</h3>

    <form method="post" asp-controller="Account" asp-action="ChangePassword">
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>Username</td>
                <td><input type="text" value="@ViewBag.Username" id="UserName" /></td>
            </tr>
            <tr>
                <td>Old Password</td>
                <td><input type="password" asp-for="OldPassword" id="OldPassword" /></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="password" asp-for="NewPassword" id="NewPassowrd" /></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Change" />
                    <br />
                    <a asp-controller="Account" asp-action="Change">Change password</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>